./TTC_outputs/
output/

# User-specific stuff
.idea

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
./cuda_op/build/
./cuda_ops/*.egg-info/
./cuda_ops/dist/
./cuda_ops/build/
TTC_outputs/
cuda_ops/build/
cuda_ops/dist/
cuda_ops/*.egg-info/
